body {
    background: #cccccc;
}

#banner {
}

h1 {
    text-align: center;
    }

p {
    text-align: center;
    background: #cccccc;
}

em strong {
    color: red;
    }

    #missao {
        font-size: 20px;
        }